.vscode/**
.vscode-test/**
webview/src/**
webview/node_modules/**
webview/public/**
webview/vite.config.ts
webview/tsconfig.json
webview/tailwind.config.js
webview/postcss.config.js
python_backend/**
src/**
node_modules/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.ts
**/*.map
**/*.md
!README.md
!CHANGELOG.md
